header img{
    padding-left: 5px;
    padding-right: 20px;
    float: left;
    height: 90px;
    width: 90px;
    display: inline;
}
header {
    background-color: #FFFFFA;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
}
header ul{
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    list-style: none;
    display: inline;
    float: left;
}

header li{
    display: inline;
    margin: 20px;
    font-size: large;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #FFFFFA;
   
}
main {
    margin-top: 100px;
}
.title{
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  padding:40px;
}

.moreInfo{
    border-bottom: 1px solid black;
}

.titleButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    height:auto;
    
}

.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position:bottom;
    bottom:10px;
    left:0;
    right:0;
    font-size: 10px;
}

#contactButton, #aboutButton{
    text-align: center;
    font-size: 28px;
    background-color: burlywood;
    border: none;
    color: #FFFFFA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin:10px;
    text-transform: uppercase;
    border-radius: 30px;
}

#newsletterButton{
    text-align: center;
    font-size: 10px;
    background-color: grey;
    border: none;
    color: white;
    padding: 5px 16px;
    text-decoration: none;
    display: inline;
}
#contactPageButton{
    text-align: center;
    font-size: 10px;
    background-color: grey;
    border: none;
    color: white;
    padding: 5px 16px;
    text-decoration: none;
    display: inline;
}

#descriptionText{
    height:100px;
    width: 200px;
}
h1 {
    font-weight:bold ;
    color: black;
    text-align: center;
    font: cambria; 
    font-size:4vw;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font: cambria; 
    font-size:3vw;
    text-transform: uppercase;
}

h3 {
    
    text-align: center;
    font: cambria; 
    font-size:1vw;
    text-transform: uppercase;
}
p {
    text-align: center;
    font: cambria; 
    font-size:1vw;
}
footer {
    padding:20px;
}
.mainImg{
    border-bottom: 1px solid black;
}
.contactInfo{
    border-bottom: 1px solid black;
}
.contactForm{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom:10px;
    left:0;
    right:0;
    font-size: 10px;
}
#thePresses,#vinylRecordBeforeLabel,#theowners{
    height: 1000px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#pressingLabels{
    height: 1000px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}